@use '@/styles/variables/variables'
@use '@/styles/functions/functions'
.header
    position: sticky
    top: 0
    right: 0
    z-index: 888
    padding: 2rem
    background: map-get(variables.$colors, color-secundary)
    box-shadow: var(--box-shadow)
    display: flex
    justify-content: space-between
    align-items: center
    gap: 2rem
    ul
        display: flex
        align-items: center
        gap: 1rem
    a
        font-size: 1.2rem
        font-weight: bold
        display: flex
        align-items: center
        gap: .5rem
        @include functions.responsive($w: 667px)
            span
                display: none